*{
    margin: 0;
    padding: 0;
}

body{
}

.maxPerfil{
    height: 37.5rem;
    width: 30rem;
    cursor: auto;
}   

.centro{
    display: flex;
}

.container1{
    display: flex;
    flex-direction: column;
}

.informacao{
    margin: 1rem;
}
