*{
    margin: 0;
    padding: 0;
}

.sigla{
    margin-top: 2rem;
}

.sigla, .lista{
    margin-left: 2.5rem;
}

body{   
    background-color: #E9E9E9;
}




.nomes{
    background-color: #DDEFFF;
    margin-top: 1rem;
    width: 80vw;
    margin-left: 10vw ;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.nomes img{
    position: relative;
    width: 100%;
    
}


.max{
    margin: 0.5rem;
    border: 2px solid black;
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.3s;
    border-radius: 5px;
    span{
        display: none;
    }
}

.max:hover{
    transform: translate(0,-2.5px);
    background-color: pink;
    span{
        font-weight: bold;
        display: flex;
    }
}
