*{
  margin: 0;
  padding: 0;
}

.cadastro{
  width: 150px;
  height: 50px; 
  font-size: 30px;
  background-color: #92A3FF;
}


input[type="file"]{
  display: none;

}

.textarea{
  height : 5rem;
}
#labelimg{
  display: inline-block;
  border: 1px solid #ccc;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #FF7A7A;

}

.importe{
  margin-bottom: 0.75rem;
}

.input{
  width: 500px;
}

@media (max-width: 320px){
  .input{
    width: 130px;
    height: 60px;
  }
  .seta{
    width: 25px;
  }
  .image{
    margin-top: 10px;
  }
}

@media (max-width: 500px) and (min-width: 321px){
  .input{
    width: 130px;
    height: 60px;  }
}

@media (max-width: 640px) and (min-width:500px){
  .input{
      width: 15rem;
      margin-bottom: 1px;
      font-size: 20px;
      height: 5rem;
  }
  .senaimg {
      width: 20rem;
  }

  .cadastro{
    margin-top: 50px;
    width: 100px;
    height: 40px;
    font-size: 20px; 
  
  }

}

@media (max-width: 768px) and (min-width:641px){
  .input{
      width: 15rem;
      margin-bottom: 1px;
      font-size: 12px;

  }
  .image {
      width: 1rem;
  }
  .importe{
    margin-bottom: 5px;
  }
}

@media (max-width: 880px) and (min-width: 769px){
  .input{
      width: 20rem;
      margin-bottom: 1px;
      font-size: 12px;
  }

  .senaimg {
      width: 30rem;
  }

  .seta{
    width: 2rem;
  }

}

@media (max-width: 1000px) and (min-width: 881px){
  .input{
    width: 25rem;
  }
  
}


@media (max-width: 426px) and (min-width: 320px){
  .input{
    width: 8rem;
  }
  .cadastro{
    width: 8rem;
    height: 1.5rem;
    font-size: small;
  }
  img{
    display: none;
  }

  .textarea{
    width: 8rem;
    height: 3rem;
  }
}
